body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    background: url("/binderFabric2.gif");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

p,
li {
    text-align: justify;
}

.bottom-images {
    display: flex;
    padding-top: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom-images a {
    flex: 1 0 auto;
    margin: 10px;
}

@media (max-width: 600px) {
    .bottom-images a {
        flex: 1 0 100%;
    }
}

.previous-chapter {
    text-decoration: none;
    color: #333;
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 5px;
}

.next-chapter {
    text-decoration: none;
    color: #fff;
    background-color: #429430;
    padding: 10px 20px;
    border-radius: 5px;
}

.chapter-buttons {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    padding: 20px;
    background-color: white;
    /* Or any other color */
}

.body-image {
    max-width: 100%;
    height: auto;
}

.bamboo {
    background: url("/bamboo.gif");
    padding: 2em;
}

.IndexMem {
    font-size: 1.2em;
    font-style: normal;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.Chapter {
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    color: #000066;
    text-align: right;
}

.body-image {
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}


@media screen and (min-width: 768px) {
    .body-image {
        float: right;
    }

}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 25px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 100vh;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}